@import "https://fonts.googleapis.com/css?family=Roboto";
body, html {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif; }

.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path {
  color: #45AAB4; }

prm-logo div.product-logo-local {
  display: flex; }

.request-button {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; }

.header {
  z-index: 30; }

prm-logo .product-logo {
  padding: .3em; }

prm-topbar {
  /*START: Hovered topbar */ }
  prm-topbar prm-main-menu span.item-content {
    color: white; }
  prm-topbar .top-nav-bar {
    background-color: #666666 !important; }
  prm-topbar prm-search-bookmark-filter a {
    background-color: rgba(255, 255, 255, 0.2) !important; }
  prm-topbar #fixed-buttons-holder.fixed-to-top a, prm-topbar #back-to-top-button {
    background-color: rgba(0, 0, 0, 0.2) !important; }
  prm-topbar prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background,
  prm-topbar prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background,
  prm-topbar prm-user-area md-fab-toolbar.md-is-open md-fab-trigger md-input-container,
  prm-topbar prm-user-area md-fab-toolbar.md-is-open md-fab-trigger md-input-container md-select,
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item .md-fab-toolbar-background,
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item ._md-fab-toolbar-background,
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container,
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select {
    background-color: #d0d0d0 !important; }
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container, prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]), prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) md-select {
    color: rgba(0, 0, 0, 0.65); }
  prm-topbar prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) {
    background-color: #E7E7E7; }
  prm-topbar .md-fab-action-item {
    /*END: Hovered topbar */ }
    prm-topbar .md-fab-action-item .md-button.button-with-icon, prm-topbar .md-fab-action-item .md-button.button-with-icon > prm-icon {
      color: rgba(0, 0, 0, 0.65) !important; }

prm-search-bar {
  background-color: white; }
  prm-search-bar .search-element-inner {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09) !important; }
  prm-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: #45AAB4; }

.sidebar-inner-wrapper {
  border: 1px solid #ddd;
  margin-left: 10px;
  background-color: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09) !important; }
  .sidebar-inner-wrapper .filtered-facets-section {
    padding: 1em;
    border-radius: 4px;
    background-color: #f2f2f2; }
  .sidebar-inner-wrapper prm-breadcrumbs .md-chip {
    border: 1px solid red;
    color: red; }
  .sidebar-inner-wrapper:empty {
    display: none; }

.results-container .list-item-wrapper {
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09) !important;
  border-radius: 4px;
  background-color: white; }

/* Hide Tags in Detailed Display */
[aria-label="Tags"] {
  display: none; }

#tags {
  display: none; }

/* Hide Tags in Menu Tab */
.md-button[aria-label="Tags "] {
  display: none; }

a.md-button[aria-label="nui.mainmenu.label.tags"] {
  display: none; }

/*# sourceMappingURL=custom1.css.map */
