@import 'https://fonts.googleapis.com/css?family=Roboto';

body, html {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}
.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon+span, .service-form-static-panel button.button-confirm prm-icon svg path {
  color: $icon-color;
}

prm-logo div.product-logo-local {
  display: flex;
}

.request-button{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}