/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Menu Tab */
.md-button[aria-label="Tags "] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}