$icon-color:#45AAB4;
$topbar-text-color: transparentize(black, .35);
$topbar-button-background-color: #E7E7E7;
$search-bar-background-color: white;
$content-background-color: #F8F8F8;
$top-nav-bar-color: #666666;